<!DOCTYPE html>
<html style="height:99%">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViaVarejo - Avaliação</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="height: 99%;">
    @Scripts.Render("~/bundles/jquery")
    @RenderBody()
</body>
</html>
